.btn, .button{
  background: $white !important;
  color: $black !important;
  font-family: 'Alternate-Gothic', sans-serif !important;
  font-size: 22px;
  letter-spacing: 1.37px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin: auto;
  border-radius: 80px !important;
  padding: 15px 30px;
  font-weight: 400 !important;
}