#homepage{
  h1{
    text-align: center;
  }
  .row.features{
    .feature-item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-align: center;
      .image{
        width: 84px;
        height: 81px;
        margin-bottom: 26px;
      }
      .title{
        margin-bottom: 16px;
      }
      .text{
        max-width: 290px;
      }
    }
  }

  .slick{
    border: 2px solid red;
    max-width: 135% !important;
    margin-left: -17.5%;
    cursor: grab;
    >div{
      border: 1px solid blue;
      img{
        border: 1px solid green;
      }
    }
    .slick-dots{
      display: inline-block !important;
      list-style: none;
      >li{
        display: inline-block;
      }
    }
    .slick-prev{
      position: absolute;
      width: 60px;
      height: 60px;
      left: 15%;
      top: calc(50% - 60px);
      z-index: 3;
      overflow: hidden;
    }
    .slick-next{
      position: absolute;
      width: 60px;
      height: 60px;
      right: 15%;
      top: calc(50% - 60px);
      z-index: 3;
      overflow: hidden;
    }
    .slick-prev:before{
      content: "";
      background-image: url('images/arrow_left.png');
      background-size: 60px 60px;
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      z-index: 3;
      cursor: pointer;
      top: 0;
      left: 0;
    }
    .slick-next:before{
      content: "";
      background-image: url('images/arrow_right.png');
      background-size: 60px 60px;
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      z-index: 3;
      cursor: pointer;
      top: 0;
      left: 0;
    }
  }

}