@font-face{
  font-family: 'Alternate-Gothic';
  src:  url('../fonts/Alternate-Gothic.ttf')
}

@font-face{
  font-family: 'ChaparralPro-Bold';
  src:  url('../fonts/ChaparralPro-Bold.otf')
}

@font-face{
  font-family: 'ChaparralPro-BoldIt';
  src:  url('../fonts/ChaparralPro-BoldIt.otf')
}

@font-face{
  font-family: 'ChaparralPro-Italic';
  src:  url('../fonts/ChaparralPro-Italic.otf')
}

@font-face{
  font-family: 'ChaparralPro-LightIt';
  src:  url('../fonts/ChaparralPro-LightIt.otf')
}

@font-face{
  font-family: 'ChaparralPro-Regular';
  src:  url('../fonts/ChaparralPro-Regular.otf')
}

@font-face{
  font-family: 'Intro';
  src:  url('../fonts/Intro.otf')
}