img{
  max-width: 100%;
}

body{
  background: black;
}

.main.jumbotron{
  background: white;
  border-radius: 0;
}

main{
  .p1{
    max-width: 660px;
    margin: auto;
  }
  h1{
    margin-bottom: 27px;
  }
}