html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}

body{
  background: $black;
  color: $white;
}

.main.jumbotron{
  background: white;
  border-radius: 0;
  margin-bottom: 0;
  padding: 4rem 0;
  padding-top: 100px;
}

main{
  .p1{
    max-width: 660px;
    margin: auto;
  }
  h1{
    margin-bottom: 27px;
  }
}

.hidden-mobile{
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.hidden-desktop{
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}

.container-fluid{
  position: absolute;
  width: 100%;
  left: 0;
  border: 1px solid red;
}

.separator{
  margin-top: 80px;
  margin-bottom: 70px;
  text-align: center;
  &:nth-child(2){
    
  }
  img{
    max-width: 120px;
  }
}