// Headings
h1{
  font-family: 'Intro', sans-serif;
  font-size: 24px;
  color: #000000;
  letter-spacing: 1.5px;
}

h2{
  font-family: 'Alternate-Gothic', sans-serif;
  font-size: 24px;
  color: #000000;
  letter-spacing: 1.5px;
}

h3{
  font-family: 'Alternate-Gothic', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1.12px;
  line-height: 20px;
}

h4{
  font-family: 'Alternate-Gothic', sans-serif;
  font-size: 16px;
}

h5{
  font-family: 'Alternate-Gothic', sans-serif;
  font-size: 14px;
}

h6{
  font-family: 'Alternate-Gothic', sans-serif;
  font-size: 12px;
}

// Paragraphs
body, p{
  font-family: 'ChaparralPro-Regular', sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 20px;
  
}

.p2, .p2 *{
  font-family: 'ChaparralPro-Regular', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.88px;
  line-height: 20px;
}

.p3, .p3 *{
  font-family: 'ChaparralPro-Regular', sans-serif;
  font-size: 10px;
  color: #000000;
  letter-spacing: 0.62px;
  line-height: 20px;
}