header.banner{
  

  display: flex;
  background-color: white;
  min-height: 200px;

  &.banner-bg{
    height: 404px;
    background-size: cover;
  }

  &.show-cta{
    height: 600px;
  }

  &.white-text{
    .brand, .menu-item,
    .intro .heading, .intro .subheading{
      filter: invert(1);
    }
  }

  
  .menu{

    margin-top: 40px;
    padding-bottom: 10px;

    .header-left, .header-right{
      display: flex;
      justify-content: space-around;
      padding-top: 17px;
    }

    .header-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-item{
      font-family: 'Alternate-Gothic', sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: #000000;
      letter-spacing: 1.25px;
    }

    .brand{
      display: flex;
      flex-flow: column;
      .main-logo{
        width: 395px;
        margin: auto;
      }
      .sub-logo{
        padding-top: 17px;
        width: 272px;
        margin: auto;
      }
    }
  }

  .intro{
    margin-top: 60px;
    .heading{
      font-family: 'Intro', sans-serif;
      font-size: 44px;
      letter-spacing: 2.75px;
      text-align: center;
      line-height: 60px;
      max-width: 933px;
      margin: auto;
    }
    .subheading{
      font-family: 'ChaparralPro-Regular', sans-serif;
      font-size: 26px;
      letter-spacing: 1.62px;
      text-align: center;
      line-height: 39px;
      max-width: 531px;
      margin: auto;
      margin-top: 15px;
    }
    .cta{
      margin: auto;
      margin-top: 36px;
      display: flex;
      justify-content: center;
      .btn{
        margin: auto;
        width: 317px;
        max-width: 100%;
      }
    }
  }

}