header.banner{

  display: flex;
  background-color: white;
  min-height: 200px;
  @include media-breakpoint-down(md) {
    padding-bottom: 40px;
  }

  &.banner-bg{
    @include media-breakpoint-up(lg) {
      height: 404px;
    }
    background-size: cover;
    background-position: center;
  }

  &.show-cta{
    @include media-breakpoint-up(lg) {
      height: 600px;
    }
  }

  &.white-text{
    .brand, .menu-item,
    .intro .heading, .intro .subheading,
    .hamburger{
      filter: invert(1);
    }
  }

  .menu{

    margin-top: 40px;
    padding-bottom: 10px;
    z-index: 2;
    position: relative;
    
    .hamburger{
      position: absolute;
      width: 32px;
      height: auto;
      left: 2.5%;
      margin-top: 8px;
      cursor: pointer;
      z-index: 3;
    }

    .header-left, .header-right{
      display: flex;
      justify-content: space-around;
      padding-top: 17px;
    }

    .header-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-item{
      font-family: 'Alternate-Gothic', sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: #000000;
      letter-spacing: 1.25px;
    }

    .brand{
      display: flex;
      flex-flow: column;
      @include media-breakpoint-down(md) {
        max-width: 70vw;
        margin: auto;
      }
      @include media-breakpoint-down(sm){
        left: 2.5% !important;
        position: relative;
      }
      .main-logo{
        width: 395px;
        margin: auto;
      }
      .mobile-logo{
        width: auto;
      }
      .sub-logo{
        padding-top: 17px;
        width: 272px;
        margin: auto;
      }
    }
  }

  .mobile-menu{
    pointer-events: none;
    display: flex;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &.visible{
      opacity: 1;
      pointer-events: initial;
    }
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-height: 600px;
    background: $black;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: $white;
    ul{
      width: 100vw;
    }
    li, li a{
      display: block;
      width: 100%;
      text-align: center;
    }
    .menu-item{
      font-size: 2rem;
      padding: 3vh 0;
    }
  }

  .intro{
    margin-top: 60px;
    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
    .heading{
      font-family: 'Intro', sans-serif;
      font-size: 44px;
      letter-spacing: 2.75px;
      text-align: center;
      line-height: 60px;
      max-width: 933px;
      margin: auto;
      @include media-breakpoint-down(md) {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .subheading{
      font-family: 'ChaparralPro-Regular', sans-serif;
      font-size: 26px;
      letter-spacing: 1.62px;
      text-align: center;
      line-height: 39px;
      max-width: 531px;
      margin: auto;
      margin-top: 15px;
    }
    .cta{
      margin: auto;
      margin-top: 36px;
      display: flex;
      justify-content: center;
      .btn{
        margin: auto;
        width: 317px;
        max-width: 100%;
      }
    }
  }

}